.ux_language-container {
    width: 26px;
    height: 26px;
    background-color: white;
}

.ux_language-selector {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 22px;
    height: 26px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    text-overflow: '';
    text-indent: 5px;
    font-size: 13px;
    font-weight: 600;
    background-color: white;
    z-index: 10000000;
    white-space: nowrap;
}

.ux_language-option {
    white-space: nowrap;
}

.ux_language-icon {
    position: absolute;
    top: 0px;
    left: 2px;
    width: 21px;
    height: 26px;
    z-index: 100;
    text-overflow: '';
}